body {
  background-color: #30475e;
  font-family: 'VT323', monospace;
}

h1 {
  padding: 45px 0;
  margin: 0 15px;
  display: inline-block;
  font-size: 55px;
}

h2 {
  border: solid;
  border-width: 4px;
  padding: 10px;
  display: inline-block;
  border-color: #f05454;
  margin: 25px;
  font-size: 35px;
  border-radius: 10px;
}

h3 {
  font-size: 40px;
  margin: 0;
  padding-bottom: 45px;
}

.retour {
  color: #f05454;
  font-size: 50px;
  margin: 15px;
}

.retour:hover {
  transform: rotate(320deg);
}

.container {
  margin: 100px auto;
  border: solid;
  border-width: 10px;
  border-radius: 10px;
  border-color: #f05454;
  background-color: #dddddd;
  width: 800px;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.59);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.59);
  text-align: center;
}

.input-number {
  height: 45px;
  width: 100px;
  padding-top: 0;
  margin-right: 15px;
}

.btn {
  background: #f05454;
  background-image: -webkit-linear-gradient(top, #f05454, #C15353);
  background-image: -moz-linear-gradient(top, #f05454, #C15353);
  background-image: -ms-linear-gradient(top, #f05454, #C15353);
  background-image: -o-linear-gradient(top, #f05454, #C15353);
  background-image: linear-gradient(to bottom, #f05454, #C15353);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: 'VT323', monospace;
  color: #ffffff;
  font-size: 30px;
  padding: 6px 20px 6px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #C15353;
  background-image: -webkit-linear-gradient(top, #C15353, #f05454);
  background-image: -moz-linear-gradient(top, #C15353, #f05454);
  background-image: -ms-linear-gradient(top, #C15353, #f05454);
  background-image: -o-linear-gradient(top, #C15353, #f05454);
  background-image: linear-gradient(to bottom, #C15353, #f05454);
  text-decoration: none;
}

/* ANIMATION */
.hidden {
  visibility: hidden;
}

.clignoter {
  animation-name: clignoter;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  transition: none;
}

@keyframes clignoter {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.bounce {
  animation: bounce 1s ease infinite;
}

@keyframes bounce {
  from {
    font-size: 30px;
  }

  50% {
    font-size: 28px;
  }

  to {
    font-size: 30px;
  }
}

/* BOUTON RELOAD */

.reload {
  background-color: #dddddd;
  border-radius: 10px;
  border: solid;
  border-color: #30475e;
  margin: 25px;
}

.recommencer {
  color: #f05454;
  font-size: 29px;
  padding: 6px;
}

.recommencer:hover {
  color: #30475e;
}

/* VIES */
.heart {
  width: 28px;
  margin: 8px;
}

.barre-vies {
  display: flex;
  justify-content: center;
  margin: 20px;
}

/************************* RESPONSIVE **************************/
@media (max-width: 1028px) {
  .container {
    margin: 65px 15px;
    width: auto;
  }

  .retour {
    font-size: 100px;
    margin: 10px;
  }

  h1 {
    font-size: 75px;
    margin-bottom: 80px;
  }

  h2 {
    padding: 10px;
    margin: 50px 150px 0 0;
    font-size: 90px;
  }

  h3 {
    font-size: 80px;
    margin-bottom: 50px;
  }

  .input-number {
    height: 100px;
    width: 200px;
    margin-right: 100px;
  }

  .input-number[type="number"] {
    font-size: 50px;
  }

  .btn {
    font-size: 65px;
    padding: 15px 30px;
  }

  .recommencer {
    color: #f05454;
    font-size: 85px;
    padding: 6px;
  }

  .barre-vies {
    margin: 60px;
  }

  .heart {
    width: 45px;
    margin: 10px;
  }
